.light_blue {
color:#36A1D4;
}

.dark_blue {
    color:#1A92D6
}

.title_subtrack {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 120px;
    
color: #FFFBFB;
}

.menu_bar_text {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 34px;

color: #FFFBFB;
}

.sign_in_page_words {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 34px;

color: #FFFBFB;
}

.create_account_title {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 96px;

color: #FFFBFB;
}

.title_subtrack_menu_bar {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: 500;
font-size: 48px;
    
color: #FFFBFB;    
}

.regular_info {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 36px;
    
 color: #FFFBFB;    
}

.alternate_titles {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 72px;

color: #FFFBFB;
}

.subtitles {
font-family: Asap Condensed VF Beta;
font-style: normal;
font-weight: normal;
font-size: 48px;

color: #FFFBFB;
}






