.light_blue {
color:#36A1D4;
}

.dark_blue {
    color:#1A92D6
}

.text {
font-family: Oswald;
font-style: normal;
font-weight: normal;
    
color: #FFFBFB;
text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

#font120 {
font-size: 120px; 
}

#font96 {
font-size: 96px;
}

#title_subtrack_menu_bar {
font-size: 48px;
}

#font36 {
font-size: 36px;
}

#font72 {
font-size: 72px;
}

#font48 {
font-size: 48px;
}

#top_rectangle {
position: absolute;
width: 1540px;
height: 110px;
left: -10px;
top: -25px;
background: #1A92D6;
}

#picture {
    position: absolute;
    width: 70px;
    height: 80px;
    left: 30px;
    top: 8px;
}

#subtrack_menu {
position: absolute;
width: 235px;
height: 69px;
left: 108px;
top: 8px;
}

#background {
position: absolute;
width: 1540px;
height: 1024px;
background: #36A1D4;
}

#rectangle {
    position: absolute;
    width: 1267px;
    height: 875px;
    left: 136px;
    top: 123px;
    background: #1A92D6;
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
}






