.background-default {
    background-color: #36A1D4;
}

.subtrack-title {
    position: absolute;
    width: 568px;
    height: 99px;
    left: 740px;
    top: 90px;

    font-family: 'Asap Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 138px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-style {
    position: absolute;
    width: 74px;
    height: 49px;
    left: 924px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.faq-style {
    position: absolute;
    width: 54px;
    height: 49px;
    left: 1048px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-style {
    position: absolute;
    width: 92px;
    height: 52px;
    left: 1142px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.account-style {
    position: absolute;
    width: 132px;
    height: 49px;
    left: 1268px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtrack-icon {
    position: absolute;
    width: 385px;
    height: 438px;
    left: 151px;
    top: 200px;
}

.icon-square {
    position: absolute;
    width: 466px;
    height: 493px;
    left: 111px;
    top: 173px;

    border: 5px solid #FFFBFB;
    box-sizing: border-box;
}

/* Google Pre-built SignIn Widget */

.prebuilt {
    position: absolute;
    width: 504px;
    height: 55px;
    left: 694px;
    top: 320px;
}
