.background-default {
    background-color: #36A1D4;
}

.fonts{
    font-family: 'Asap Condensed', sans-serif;
    color: #FFFBFB;
    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-block {
    position: absolute;
    width: 1167px;
    height: 700px;
    left: 136px;
    top: 150px;

    background: #1A92D6;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
}
 
.navBar {
    position: absolute;
    width: 1440px;
    height: 120px;
    left: 0px;
    top: 0px;

    background: #1A92D6;
    z-index: -1;
}

.subtrack-icon-main {
    position: absolute;
    width: 60px;
    height: 69px;
    left: 48px;
    top: 30px;
}

.subtrack-title-main {
    position: absolute;
    width: 235px;
    height: 69px;
    left: 108px;
    top: -10px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    text-align: center;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtrack-home { 
    position: absolute;
    width: 74px;
    height: 49px;
    left: 924px;
    top: 42px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    border: none;
    cursor: pointer;

    background: #36A1D4;
    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtrack-faq { 
    position: absolute;
    width: 54px;
    height: 49px;
    left: 1048px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtrack-about { 
    position: absolute;
    width: 92px;
    height: 52px;
    left: 1142px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtrack-account { 
    position: absolute;
    width: 132px;
    height: 49px;
    left: 1268px;
    top: 16px;

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 50px;

    color: #FFFBFB;

    text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

